<p id="notice"><%= notice %></p>

<p>
  <strong>Created At:</strong>
  <%= @request.created_at %>
</p>

<p>
  <strong>Payload:</strong>
  <%= @request.payload %>
</p>

<%= link_to 'Back', "/bins/#{@request.bin.url}" %>
